<div class="manual-text">
  <h2 class="mat-h2">Todo List Manual</h2>
  <h3 class="mat-h3">Overview screen</h3>
  <p class="mat-typography">
    In this you can see the todo items you have at the moment. To complete an item click on the checkbox to mark it as
    done.
    You can also sort the items by clicking on the header on top of table. For filtering fill in the input field at the
    top your query.
  </p>
  <h3 class="mat-h3">Adding a todo item</h3>
  <p class="mat-typography">
    To add an item click on the "+ todo item" button on the bottom of the page. An new item will appear in the list. Click on the pencil to change the name of the item and to add a due date.
  </p>
  <h3 class="mat-h3">Editing a todo item</h3>
  <p class="mat-typography">
    click on the pencil icon to change the name and due date of an item.
  </p>
  <h3 class="mat-h3">Deleting a todo item</h3>
  <p class="mat-typography">
    click on the - button to delete an item.
  </p>
</div>
