<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div>
  <table mat-table [dataSource]="dataSource" matSort matSortDisabled>

    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let todoItem">
        <mat-checkbox class="example-margin" [(ngModel)]="todoItem.completed" (focusout)="updateTodoItem(todoItem)"></mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let todoItem">
        {{ todoItem.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date</th>
      <td mat-cell *matCellDef="let todoItem">
        {{ todoItem.dueDate | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let todoItem">
        <button
          type="button"
          aria-label="edit"
          mat-icon-button
          routerLink="/todo/{{todoItem.id}}"
        >
          <mat-icon aria-label="edit icon">edit</mat-icon>
        </button>
        <button
          type="button"
          aria-label="delete"
          mat-icon-button
          (click)="deleteTodoItem(todoItem.id)"
        >
          <mat-icon aria-label="remove icon">remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<button
  type="button"
  aria-label="add"
  mat-icon-button
  (click)="createTodoItem()"
>
  <mat-icon aria-label="add icon">add</mat-icon>
  todo item
</button>

