<div *ngIf="todoItem">
<h2>Edit Todo Item</h2>
  <mat-form-field>
    <input matInput placeholder="item name" [(ngModel)]="todoItem.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="todoItem.dueDate" placeholder="Choose a due date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-icon aria-hidden="false" aria-label="Done icon" (click)="updateTodoItem()">done</mat-icon>


</div>
